.proverb{
    color: rgb(126,94,217);
    background-color: #00FFFF
}

.aby{
    color: rgb(120,90,190);
}
.clr{
    color: rgb(126,94,217);
}
.plp{
    color: rgb(126,94,217)}
}
.wlt{
    color: rgb(126,94,217);
}
body{
    background-image: url("123.jpg");
}